// Place all the styles related to the Api::Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokedex {
  display: flex;
  width: 800px;
}

.pokedex > ul {
  
}

img{
  width: 100px;
  height: 100px;
}
